<!--_meta 作为公共模版分离出去-->

{include file="public/_meta" /}
	<![endif]-->
	<!--/meta 作为公共模版分离出去-->

<title>栏目设置</title>
</head>
<body>
<article class="Hui-admin-page-container">
	<form action="/admin/systemCategoryUpdate" method="post" class="form form-horizontal" id="form-category-add">
		<div id="tab-category" class="HuiTab">
			<div class="tabBar cl"><span>基本设置</span></div>
			<div class="tabCon">
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-3">栏目ID：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input style="display: none" type="text" class="input-text" value="{$editdata.id}" placeholder="" id="id" name="id">
					</div>
				</div>
				<div class="row clearfix">

					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>栏目名称：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$editdata.name | html_entity_decode | html_entity_decode}" placeholder="" id="name" name="name">
					</div>
					<div class="col-3"> </div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级栏目：</label>
					<div class="form-controls col-xs-8 col-sm-9"> <span class="select-box">
								<select class="select" id="sel_Sub" name="parent_id" onchange="SetSubID(this);">
									<option value="0">顶级分类</option>
										{volist name="basesyscat" id="cat"}
											<option value="{$cat.id}">{$cat.name}</option>
												{volist name="cat['son']" id="cat2"}
													<option value="{$cat2.id}">&nbsp;&nbsp;├ {$cat2.name}</option>
														{volist name="cat2['son']" id="cat3"}
																<option value="{$cat3.id}">&nbsp;&nbsp;├ ├{$cat3.name}</option>
														{/volist}
												{/volist}
										{/volist}
								</select>
								</span> </div>
					<div class="col-3"> </div>
				</div>

				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-3">路由地址：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$editdata.link | html_entity_decode | html_entity_decode}" placeholder="" id="link" name="link">
					</div>
					<div class="col-3"> </div>
				</div>
			</div>

		</div>
		<div class="row clearfix">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
	</div></article>

<!--_footer 作为公共模版分离出去-->
	{include file="public/_footer" /}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%',
			});
			$("#tab-category").Huitab();
		});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>

