<!DOCTYPE HTML>
<html>
<head>

<meta charset="UTF-8">
<meta charset="UTF-8">
<title>个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="__STATIC__/index/css/index.css"/>
<link rel="stylesheet" href="__STATIC__/index/css/style.css"/>
<script type="text/javascript" src="__STATIC__/index/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="__STATIC__/index/js/html5.js"></script>
<![endif]-->